
.about-container {
    padding: 50px;
}

.about-container h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
}

.about-container p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}
